header, nav, main, footer {
    max-width: 60rem;
    margin: auto;
}

#fishSpecies{
  grid-template-columns: 1fr 1fr 1fr;
}
// Fish tank page
.allcards{
    section{
        flex-basis:calc(33.3333% - (($gutter*2)/3));
    }
}
//footer
.footerSections{
    grid-template-columns: 1fr 1fr 1fr;
}

// checklist page
#titleHero{
    h1{
        font-size:2rem;
    }
}

#checkList{
    flex-wrap:nowrap;
    padding:32px 0;
}
#reviewsWrapper{
    padding:32px 0;
}
#reviews{
    section{
        flex-basis:calc(50% - ($gutter/2));
    }
}
// Create the for loop for about us page
@for $i from 1 through 12 {
  $w: calc($i /12) *100%;
  .large-#{$i} {flex-basis: $w}
}

// conference page
.column.flip{
    height:250px;
}

//recommendations page
#recommendations{
    display:grid;
    grid-template-columns: 1fr 1fr;
    section{
        grid-template-columns: 1fr 1fr;
        div, h2{
            padding:0;
            margin:0;
        }
        h2{
            text-align: left;
        }
        a{
            padding: 8px;
            margin-bottom:8px;
        }
    }
}

.contact{
    display:grid;
    grid-template-columns: 1fr 1fr;
    p{
        text-align: justify;
    }
}
//single page styling

header, nav, main, footer {
    max-width: 60rem;
    margin: auto;
}
body#singlePageBody{
    display:grid;
    grid-template-columns: 250px auto;
    header, nav, main, footer {
    max-width: 60rem;
    margin: auto;
}
}
#navSingleWrapper{
    grid-row: 1 / span 3;
    position: relative;
    #singlePageMenu{
        flex-direction: column;
        height:100vh;
        justify-content: center;
        position:fixed;
        li{
            flex:none;
        a{
            flex-direction: row;
            width:250px;
            justify-content: space-between;
            img{
                display:block;
            }
        &:hover img{
            transform:translateX(10px) scale(1.2)
        }
        &:hover span{
            transform:translateX(-10px) scale(1.2)
        }
        &:hover{
            background-color: lighten($secondaryColor, 5%);
        }
        }
        }
    }
}

#home{
    video{
        width:100%;
    }
}