html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
  scroll-behavior: smooth;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1{
  margin:0;
  padding:$gutter;
}
body {
  font-family: $defaultFont;
  font-weight: $normalWeight;
  display:block;
}

#headerWrapper {
  background-color: $primaryColor;
  color: white;
}

header {
  display: flex;
  align-items: flex-end;
  padding: 1rem $gutter;
  gap: 8px;
  justify-content: space-between;
  h2 {
    margin: auto 0;
    font-size: 1.2rem;
    text-shadow:2px 2px black;
    text-align: center;
    a{
      color:white;
      text-decoration: none;
      &:hover{
        color:antiquewhite;
      }
    }
  }
}

.hide{display:none;}

#navWrapper {
  display:block;
  background-color: $primaryColor;
  border-top: 1px solid black;
  padding:0;
    ul {
        display: flex;
        list-style-type: none;
        margin:0;
        padding: 0px;
        flex-wrap: wrap;
        li {
        text-align: left;
        width:100%;
        text-shadow:2px 2px black;
        border-bottom:1px solid black;
        }
        li.active {
        background-color: $secondaryColor;
        &:hover {
            background-color: $primaryColor;
        }
        }
        li.nonactive{
        background-color: $primaryColor;
        &:hover {
            background-color: $secondaryColor;
        }
        }
        a {
        display: block;
        padding: 15px $gutter;
        color: white;
        text-decoration: none;
        ul{
          padding:0px;
          margin:0px;
        }
    }
  }
.dropdown>a::after{
  content:"\25BC";
  float:right;
  }
.dropdown ul{
  display:none;
  li{
    background-color: $secondaryColor;
    margin-left:2rem;
    border: 1px solid black;
    border-radius: 16px 0 0 16px;
    &:hover{
      background-color:$primaryColor;
    }
  }
}

.dropdown:hover ul{
  display:block;
  background-color: $primaryColor;
  border:none;
}

  ion-icon{
    margin:0;
    color:white;
    height: 50px;
    width: 60px;
  }
}//end of nav wrapper

  
// Main styling
#mainWrapper{
  background-color: antiquewhite;
}

// Fish Species Styling

#fishSpecies{
  display:grid;
  grid-template-columns: 1fr;
  gap:$gutter;
  padding-bottom:32px;
}

#fishSpecies div{
  width:100%;
  padding:1rem;
  margin:0;
  padding:0;
  border: 1px solid black;
  border-radius: 28px 28px 12px 12px;
  background-color:$primaryColor;
  color:white;
  box-shadow: 0px 0px 10px black;
  img{
    width:100%;
    height:auto;
  }
  h2{
    text-align: center;
    font-style:italic;
    font-size:1.30rem;
    text-shadow:2px 2px black;
  }
  p{
    padding-left: 15px;
    font-size:1.1rem;
    font-weight:bold;
    text-shadow:1px 1px black;
  }
}


// Footer stying

#footerWrapper{
  background-color: $primaryColor;
}
footer{
  margin:0;
  padding: 0.5rem $gutter;
  color:white;
  text-align: center;
  width:100%;
  a{
    color:white;
    text-decoration: none;
    &:hover{
      transform: translateY(-4px);
      text-shadow: 2px 2px 1px black;
    }
  }
  .contact{

    p{
      font-size:1.1rem;
      margin: 0px;
    }
  }
  .socials{
    display:flex;
    justify-content: center;
    a{
      font-size:2rem;
      padding:1rem;
    }
    
  }
  .location{
    font-size:1.1rem;
    display:block;
  }
  p.legal{
    color:white;
  }
}

//tank maintenance styling
video{
  width:95%;
  margin: 0 2.5%;
}
summary{
  margin: 32px 0;
}
#transcript{
  margin:0;
  padding-bottom: 5%;
}
.hero{
  img{
    width:100%;
  }
}

// Fish tank Page

.allcards{
  padding: 0 $gutter;
  section{
    border: 1px solid black;
    border-radius: 32px 32px 16px 16px;
    overflow: hidden;
    margin: 1rem 0;
    h2, p, img {
      margin: 0;
      padding: 1rem $gutter;
    }
    h2{
      font-size: 1.25rem;
      text-align: center;
      background-color: $primaryColor;
      color:white;
      text-shadow:1px 1px black; 
      border-bottom: 1px solid black;
    }
    img{
      width:100%;
      height:auto;
      display:block;
    }
    img.ete{
      padding:0;
    }
    a{
      display:block;
      background-color: $secondaryColor;
      padding: .75rem;
      color:white;
      text-decoration: none;
      text-align: center;
      margin: 0 5rem 1rem 5rem;
      border-radius: 16px;
      box-shadow: 2px 2px black;
      &:hover{
        background-color: $primaryColor;
        transform: translateY(2px);
      }
    }
  }

}// all cards end

// checklist page
#titleHero{
  position:relative;
  img{
     width:100%;
     height:auto;
     display:block;
  }
  h1{
    font-size:1.5rem;
    margin:0;
    position:absolute;
    top:10%;
    padding:$gutter;
    color:white;
    text-shadow: 2px 2px 2px black;
    background: RGBA(20, 94, 48, 0.2);
    background: linear-gradient(90deg,rgba(20, 94, 48, 0.01) 0%, rgba(20, 94, 48, 0.75) 50%, rgba(20, 94, 48, 0.01) 100%);
    width:100%;
    text-align: center;
  }
}

#checkList{
  display:flex;
  gap: $gutter;
  padding: 32px $gutter;
  flex-wrap: wrap;
  div{
    background-color: $primaryColor;
    color:white;
    width:100%;
    border-radius: 16px;
    border: 2px solid black;
    p, h2{
      margin:0;
      padding:$gutter;
    }
    img{
      display:block;
      margin:0 auto;
      position:relative;
      border-radius:64px;
    }

    h2{
      font-size:1.25rem;
      background-color: $secondaryColor;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      text-shadow: 1px 1px 2px black;
    }
    
    &.spin:hover img{animation: mySpin 1s 1;}
    &.drop:hover img{animation: myDrop 1s 3;}
    &.scoot:hover img{animation: myScoot 2s 1;}
    &.flash:hover img{animation: myFlash 1s 3;}

    @keyframes myDrop {
      0% {bottom:20px; animation: linear;}
      100% {bottom:-20px; animation-timing-function:linear;}
    }
    
    @keyframes mySpin {
    0% {transform:scale(1);}
    25% {transform:scale(3);}
    50% {transform:scale(0.75);}
    75% {transform:scale(2);}
    100% {transform:scale(1);}
    }

    @keyframes myScoot {
    0% {transform:translateX(-80px);}
    25% {transform:translate(-40px, -20px);}
    50% {transform:translateX(0px);}
    75% {transform:translate(40px, 20px);}
    100% {transform:translateX(80px);}
      
    }
    @keyframes myFlash {
    0% {background-color:red;}
    25% {background-color: black;}
    50% {background-color:red;}
    75% {background-color: black;}
    100% {background-color:red;}
      
    }
  }
}
#checkListHead{
  margin:auto 0;
  display:flex;
  flex-direction: column;
  a{
    margin:auto;
  }
  ion-icon{
    width:40px;
    height:40px;
  }
}
#reviewsWrapper{
  padding:$gutter;
  text-align: center;
}
#reviews{
  display:flex;
  flex-wrap:wrap;
  gap:$gutter;
  section{
    flex-basis:100%;
    border: 1px solid black;
    width:100%;
    border-radius: 16px;
  }
  div{
    display:flex;
    justify-content: center;
  }
  img{
    width:20px;
    height:20px;
    margin:0;
  }
  p, h3, div{
    padding:0 $gutter;
  }
}
// style the row
.row{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: 0;
}
.column{
  padding: 0 $gutter;
  margin: $gutter 0;
  img{
    width:100%;
    height:auto;
  }
  h1, h2, p{
    margin:0;
    padding:0;
  }
}
.background{
  background-color: $primaryColor;
  color:white;
  h2{
    text-shadow: 2px 2px 2px black;
  }
  img{
    border: 1px solid white;
    border-radius: 16px;
  }
}
// Create the for loop for about us page

@for $i from 1 through 12 {
  $w: calc($i/12) * 100%;
  .small-#{$i} {flex-basis: $w}
}

// Contact Us page

.column.form{
  label{
    display:block;
    font-size:0.75rem;
  }
  
  input[type=text], input[type=tel], input[type=number], input[type=email], input[type=password], select, input[type=date]{
    display:block;
    margin-bottom:$gutter;
    font-size:1.1rem;
    width:100%;
    padding: 0.5rem $gutter;
    border: 1px solid black;
    border-radius: 4px 32px 32px 32px;
    border-top: 4px solid $secondaryColor;
    border-right: 4px solid $secondaryColor;
  }
  
  h3{
    border-bottom:1px solid black;
    font-size: 1.25rem;
  }
  input:required{
    border-top: 4px solid #a02121;
    border-right: 4px solid #a02121;
  }
  input:focus{
    background-color:#d5e3ec;
    border-top: 6px solid black;
    border-right: 6px solid black;
  }
  input[type=submit]{
    display:block;
    background-color: #a02121;
    color:white;
    font-size:1.25rem;
    padding:$gutter 1.25rem;
    border-radius: 16px;
    border: 2px solid black;
    font-weight:bold;
    &:hover{
      background-color: #761818;
      transform: translateY(-4px);
      box-shadow:4px 4px 10px black;
    }
  }
}

#navWrapper.skip{
  grid-row-start:4;
}

#navlinks, #top a{
  text-decoration: none;
  color:white;
  font-size:2rem;
}

//conference page

.heroVideo{
  margin:0;
  position: relative;
  text-align: center;
  video, h1, p{
    margin:0;
  }
  video{
    width:100%;
    height:auto;
    margin:0;
  }
  h1{
    padding:0;
    font-size:1.5rem;
    text-shadow: 2px 2px 2px black;
  }
  p{
    font-size:1rem;
    text-shadow: 2px 2px 2px black;
    padding-top:$gutter;
    border-bottom:3px solid $secondaryColor;
  }
  .heroText{
    position: absolute;
    top:20%;
    right:0;
    left:0;
    color:white;
    padding:$gutter;
    background-color:rgba(0,0,0,.4)
  }
}
//flipcards
.column.flip{
  background-color: transparent;
  width:100%;
  height:275px;
  perspective: 1000px;
  p, h2{
    margin:0;
  }
  .flipCard{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  &:hover .flipCard{
    transform: rotateY(180deg);
  }
  .flipFront, .flipBack{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 32px;
    overflow:hidden;
    background-color: $secondaryColor;
  }
  .flipFront{
    border: 5px solid $secondaryColor;

  }
  .flipBack{
    transform: rotateY(180deg);
    color:white;
    padding:$gutter;
    h2{
      border-bottom:3px solid white;
    }
    p{
      padding-top:$gutter;
    }
  }
}//end of flipcard


// service page
.swiper{
  display:block;
  width: 100%;
  height: auto;
  img{
    display:block;
    position: relative;
    width:100%;
    height:auto;
  }
  .sliderText{
    position: absolute;
    top:15%;
    left:5%;
    right:5%;
    color:white;
    background-color: rgba(0,0,0,.4);
    text-align:center;
    p, h2{
      margin-left:5%;
      margin-right:5%;
    }
    p{
      padding-bottom: 5px;
    }
    h2{
      text-shadow:2px 2px  black;
      border-bottom: 3px solid $secondaryColor;
    }
  }
}
.rowServices{
  
  .servicesCard{
    position:relative;
    h2{
      text-align:center;
      background-color: $secondaryColor;
      color:white;
      border-radius:16px 16px 0px 0px;
      padding:$gutter 0px;
      text-shadow: 2px 2px 2px black;
    }
    img{
      width:100%;
      height:auto;
      display:block;
    }
    img:last-child{
      width:calc(100% - 32px);
      height:auto;
      position:absolute;
      bottom:0px;
      left:16px;
    }

}
}


.servicesBlurb{
  img{
    clip-path: circle(36.5% at 50% 50%);
  }
}
header ion-icon{
  width:40px;
  height:40px;
  display:block;
}
a#hamburger{
  align-self: center;
}
//mobile menu
#navWrapper.hide{display:none;}

// Recommendations Page
#recommendations{
  section{
    display:grid;
    background-color: white;
    border-radius: 16px 16px 0 0;
    grid-template-areas:
    "name"
    "image"
    "address"
    "URL"
    ;
    margin:$gutter;
    h2{
      margin:0;
      padding:$gutter;
      grid-area: name;
      text-align: center;
      background-color: $secondaryColor;
      border-radius: 16px 16px 0 0;
      color:white;
      text-shadow: 2px 2px 2px black;
    }
    img{
      grid-area: image;
      display:block;
      margin: 8px auto;
      width:95%;
      height:auto;
      border-radius: 8px;
    }
    div{
      grid-area: address;
      font-style: italic; 
      margin-left:$gutter;
      p{
        margin:0;
      }
    }
    a{
      grid-area: URL;
      text-decoration:none;
      color:white;
      background-color: $secondaryColor;
      width:50%;
      text-align: center;
      margin: 8px auto;
      padding: 12px;
      box-shadow: 0px 0px 4px black;
      border-radius: 16px;
      text-shadow: 1px 1px 1px black;
      &:hover{
        background-color: $primaryColor;
        transform: translateY(2px);
      }
    }
  }//End of Section
}//End of #recommendations

//single page

#mainWrapperSingle{
  background-color: antiquewhite;
  main{
    section{
      min-height:100vh;
    }
  }
}
#home{
  display:flex;
  background: RGBA(20, 94, 48, 0.5);
  background: linear-gradient(180deg,rgba(20, 94, 48, .2) 0%, rgba(20, 94, 48, 1) 25%, rgba(20, 94, 48, .8) 75%, rgba(20, 94, 48, .2) 100%);
.heroVideo{
    margin:auto;
  }
}
#about{
  background: linear-gradient(180deg,rgba(20, 94, 48, .2) 0%, rgba(20, 94, 48, .2) 90%, white 100%);
  display:flex;
  .aboutWrapper{
    margin:auto 0;
  }
}
#services{
  display:flex;
  background: linear-gradient(180deg,white 0%, white 90%, rgba(20, 94, 48, .8) 100%);
  .header{
    padding-left: $gutter;
  }
  .servicesWrapper{
    margin:auto;
  }
}
#form{
  background-color: rgba(20, 94, 48, .8);
  color:white;
  input[type=submit]{
    background-color: $secondaryColor;
    &:hover{
      background-color: darken($secondaryColor,5%);
    }
  }
}
#navSingleWrapper{
  background-color:$secondaryColor;
  margin:0;
  position: sticky;
  top:0;
  z-index:10;
  #singlePageMenu{
    margin:0;
    list-style-type: none;
    display:flex;
    padding:0;
    li{
      flex-basis:25%;
      a{
        display:flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
        color:white;
        span{
          display:none;
        }
        
        img{
        width:30px;
        height:auto;
        stroke:white;
        }
      }//end of a
    }//end of li
    li.active{
      background-color: darken($secondaryColor, 10%);
    }
  }//end of singlePageMenu id
}//end of menu